<h1>Knows more word dictonary</h1>

<h3>Words in dictonary</h3>

<% if @words.any? %>
<form class="sort" action="/homepage">
  <div class="form-group">
    <label for="sort">Sort Alphabetically</label>
    <input id="sort" name="sort" class="form-control" type="submit" value="Go">
  </div>
</form>
  <ul>
    <% @words.each do |word| %>
      <li><%= word.name%></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<a href="/homepage/new">Add a new word.</a>

<form action="/homepage/search">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>


<% @words.each do |word|%>
  <li><a href="/homepage/<%= word.name%>"></a></li>
<% end %>